* text=auto

/.github        export-ignore
/doc            export-ignore
/test          export-ignore
/.coveralls.yml export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/phpstan*       export-ignore
/phpunit*       export-ignore
/psalm*         export-ignore
