language: php

php:

- 5.6
- 7.0
- 7.1

before_install:
- sudo apt-get update
- sudo apt-get install make build-essential automake php5-dev php-pear
- git clone git://github.com/jedisct1/libsodium.git
- cd libsodium
- git checkout 1.0.14
- ./autogen.sh
- ./configure && make check
- sudo make install
- cd ..
- pecl install libsodium
- echo "extension = libsodium.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

install:

- composer install
- composer self-update
- composer update
- chmod +x ./test/phpunit.sh

script:

- vendor/bin/phpunit --bootstrap autoload.php test/unit
- vendor/bin/psalm
