language: php
sudo: true
dist: trusty

php:
- 7.0

before_install:
- sudo apt-get update
- sudo apt-get install make build-essential automake php5-dev php-pear
- git clone git://github.com/jedisct1/libsodium.git
- cd libsodium
- git checkout 1.0.10
- ./autogen.sh
- ./configure && make check
- sudo make install
- cd ..
- pecl install libsodium-1.0.6
- echo "extension = libsodium.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

install:
- composer install
- chmod +x ./test/phpunit.sh

script: ./test/phpunit.sh
