<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
            <exclude>
                <directory>./libsodium</directory>
                <directory>./vendor</directory>
                <directory>./stub</directory>
                <directory>./test</directory>
                <directory>./doc</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuite>
        <directory suffix="Test.php">./test/unit</directory>
    </testsuite>
</phpunit>
